<div class="panel panel-default">
  <div class="panel-heading">Edit Article</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Show', @article %> |
    <%= link_to 'Back', articles_path %>
  </div>
</div>
