<div class="panel panel-default">
  <div class="panel-heading">New Article</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
  <div class="panel-footer">
    <%= link_to 'Back', articles_path %>
  </div>
</div>
